<!DOCTYPE html>
<html>
<head>
	<html lang="en"><head><meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="http://getbootstrap.com/favicon.ico">

	<title>Meeting Draft</title>

	<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/home.css">
</head>

<body>

	<nav class="navbar navbar-inverse" style="margin-bottom: 0;">
		<div class="container navbar-left">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Meeting Draft</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse ">
				<ul class="nav navbar-nav visible-xs sprint-xs">
					
				</ul>

			</div><!--/.navbar-collapse -->
		</div>
	</nav>

	<!-- aside menu -->
	<div>
		<div class="col-md-3">
			<div id="sidebar-wrapper">
				<ul class="sidebar-nav text-center">

				</ul>
				

			</div>
		</div>
		<div class="col-md-9">
			
			<div class="row">
				<div class="content">

				</div>

			</div>
			
		</div>
	</div>



	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/ie10-viewport-bug-workaround.js"></script>
	<script src="/js/purl.js"></script>
	<script src="/js/readShare.js"></script>

</body>
</html>